/* Custom CSS for Markdown -> HTML conversion */

#post-content:first-child {
  @apply mt-8
}

#post-content p {
  @apply mb-4
}

#post-content h1 {
  @apply text-2xl font-bold mb-4
}

#post-content h2 {
  @apply text-xl font-semibold mb-4
}

#post-content h3 {
  @apply text-lg
}

#post-content a {
  @apply border-b-2 border-neutral-400 hover:bg-neutral-500
}

#post-content ul {
  list-style-type: circle;
}

#post-content ol {
  list-style-type: decimal;
}

#post-content blockquote {
  background: black;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

#post-content blockquote:before {
  color: #ccc;
  content: '';
  font-size: 1em;
  line-height: 0.1em;
  margin-right: 0.25em;
}

#post-content blockquote p {
  display: inline;
}

#post-content hr {
  width: 30%;
  border-style: dotted none none;
  border-width: 10px;
  margin: 3rem auto;
  opacity: 50%;
}

#nav-menu.active {
    display: block;
  }

#explore-projects {
  background-image: url("../assets/network.svg");
  background-repeat: no-repeat;
  background-size: auto 380px;
  background-position: bottom left 5vw;
}

@media (min-width: 600px) {
  #explore-projects {
    background-position: bottom left 35vw;
  }
}

@media (min-width: 1100px) {
  #explore-projects {
    background-position: bottom right;
  }
}

.explore-text {
  margin-bottom: 320px;
}

@media (min-width: 600px) {
  .explore-text {
    margin-bottom: 0;
    max-width: 35%;
  }
}
@media (min-width: 1100px) {
  .explore-text {
    max-width: 40%;
  }
}

.hide {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;