{{ define "header" }}
<h1 class="subtitle large-title">
    <a href="https://westleywinks.com" target="_blank" rel="noopener">Westley Winks</a>
</h1>
<h1>Machine Learning Engineer</br>Aspiring Humanitarian</h1>
{{ end }}

{{ define "content" }}

<!-- About Me -->

<div class="section grey" id="philosophy">
    <div class="container">
        <div id="philosophy-text">
            <h1 class="small-title center-text mega-margin">About Me</h1>
            <p class="center-text mega-margin">My core character values: </p>
        </div>
    </div>
    <div class="small-container" id="emoji-cards">
        <div class="emoji-card">
            <!-- <img src="assets/fire.svg" alt="Fire emoji" class="emoji-img center-margin large-margin"> -->
            <h1 class="center-text medium-margin">Continual Learning</h1>
            <p class="center-text">I chose machine learning as a career because it is so new and actively developing. This provides copious opportunites to continue learning. In my free time, I do personal projects, read, and do online courses.</p>
        </div>

        <div class="emoji-card">
          <img src="assets/me.jpeg" alt="Picture of me" class="emoji-img center-margin large-margin">
          <h1 class="center-text medium-margin">Community</h1>
            <p class="center-text">We all live cooperatively on this planet. Let's love one another and build things together.</p>
        </div>

        <div class="emoji-card">
            <!-- <img src="assets/heart.svg" alt="Pride heart emoji" class="emoji-img center-margin large-margin"> -->
            <h1 class="center-text medium-margin">Humanitarian Action</h1>
            <p class="center-text">My long term career goal is to become an expert in the machine learning field with a specialization in humanitarian application. I want to be on the cutting edge of using these tools to create positive impact in the world with the knowledge and skills that I gain.</p>
        </div>

    </div>
</div>

<!-- Explore Projects -->

<div class="section" id="explore-projects">
    <div class="container">
        <div class="explore-text">
            <h1 class="small-title mega-margin">Explore Projects</h1>
            <p class="mega-margin">In my free time, I build fun software and data products and open-source them on GitHub.</p>
            <a href="/projects/" class="Button Button--primary Button--large">View All Projects</a>
        </div>
    </div>
</div>

<!-- Education -->

<div class="grey section" id="follow-us">
    <div class="container">
        <div class="center-text" id="open-source-text">
          <h1 class="small-title mega-margin open-source-title">Education
          </h1>
          <img src="assets/education.svg" class="emoji-img center-margin large-margin">
            <!-- <p class="mega-margin">Formal education and online certifications.</p> -->
        </div>

        <div class="timeline-cell">
            {{ range $.Site.Data.education }}
            <div class="sizeFull membership" id="{{ .id }}">
                <!-- Logo -->
                <img src="{{ .logo }}" class="membership-logo">

                <div class="name-handle">
                    <!-- Name -->
                    <h2>{{ .name }}</h2>

                    <h4 class="author-handle">
                        {{ .author }}
                    </h4>
                    <!-- Date handle -->
                    {{ with .date }}
                    <p target="_blank" rel="noopener" class="membership-handle">
                        {{ . }}
                    </p>
                    {{ end }}
                </div>

                <!-- Description -->
                <p class="book-description">{{ .description }}</p>

                <!-- Visit website -->
                {{ with .website }}
                    <a href="{{ . }}" class="Button">More Info</a>
                {{ end }}

            </div>
            {{ end }}
    </div>
  </div>
</div>

<!-- Experience -->

<div class="section" id="career">
    <div class="container">
        <div id="open-source-text" class="same-mega-margin center-text">
            <h1 class="small-title mega-margin career-title">Experience</h1>
            <img src="assets/fire.svg" class="emoji-img center-margin large-margin">
            <!-- <p class="mega-margin">Words about experience</p> -->
        </div>

        <div class="timeline-cell">
          {{ range $.Site.Data.experience }}
          <div class="sizeFull membership" id="{{ .id }}">
              <!-- Logo -->
              <img src="{{ .logo }}" class="membership-logo">

              <div class="name-handle">
                  <!-- Name -->
                  <h2>{{ .name }}</h2>

                  <h4 class="author-handle">
                      {{ .author }}
                  </h4>
                  <!-- Date handle -->
                  {{ with .date }}
                  <p target="_blank" rel="noopener" class="membership-handle">
                      {{ . }}
                  </p>
                  {{ end }}
              </div>

              <!-- Description -->
              <p class="book-description">{{ .description }}</p>

              <!-- Visit website -->
              {{ with .website }}
                  <a href="{{ . }}" class="Button">More Info</a>
              {{ end }}

          </div>
          {{ end }}
  </div>
    </div>
</div>

{{ end }}
